body {
    background-image: linear-gradient(233deg, #f180a4 0%, #00978d 100%);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.form-register {
    max-width: 380px;
    text-align: center;
    padding: 20px 20px 2px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 2px;
}

.card-register {
    margin-top: 1px;
    width: 350px;
    padding: 2px 8px;
}

h1 {
    text-align: center;
    padding: 15px 10px;
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    margin-bottom: 4px;
}

.textbox {
    text-align: left;
    width: 100%;
    border-radius: 10px;
    width: 360px;
	margin-bottom: 1px;
    padding: 5px 5px;
    font-size: 5px;
    margin-bottom: 0px;
}

.textbox > input {
    width: 340px;
    height: 20px;
    font-size: 15px;
    padding: 5px;
    margin-bottom: 0px;
}

.textbox > label {
    font-family: 'Open Sans', sans-serif;
    padding: 2px;
    font-size: 16px;
}

.btn-register {
    margin-bottom: 5px;
    width: 360px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #00978d;
    color: #eee;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    margin-top: 5px;
}

.register {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: #f180a4;
    font-family: 'Open Sans', sans-serif;
}

