*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(233deg, #096466 0%, #00978d 100%);
    background-repeat: no-repeat;
    padding: 50px 0;
}

h1 {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
    top: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
    font-family: 'Open Sans', sans-serif;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #f180a4;
    text-decoration: underline;
    text-decoration: none;
}

.banner {
    width: 100%;
}

.servicos {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    margin-top: 50px;
}

.servicos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.4%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.servicos li:hover {
    border-color: #f180a4;
}

.servicos li:active {
    border-color: #f180a4;
}

.servicos li:hover h2 {
    font-size: 31px;
    color: #f180a4;
}

.servicos h2{
    font-size: 30px;
    font-weight: bold;
    color: #00978d;
}

.servicos-descricao {
    font-size: 18px;
}

