.navbar-custom {
     background-image: linear-gradient(233deg, #096466 0%, #00978d 100%);	
}

.card-largura {
    width: 18rem;
}

.imagem-carrosel-1 {
    object-fit: cover;
    object-position: 0 40%;
    height: 450px;
}

.imagem-carrosel-2 {
    object-fit: cover;
    object-position: 0 20%;
    height: 450px;
}

.fonte-titulo {
    font-family: 'Poppins', sans-serif;
}

.botao-cor-especial {
    background-color: #00978d;
    color: white;
}
 
.borda-cor-especial {
    border-color: #f180a4;
}

.card-posicao-imagem {
    object-fit: cover;
    height: 200px;
}

.numeros {
    color: #ec648f;
}

.footer-custom {
    background-image: linear-gradient(233deg, #096466 0%, #00978d 100%);
}